src/cnn_denoising/models/fingerprint.pb
src/cnn_denoising/models/keras_metadata.pb
src/cnn_denoising/models/saved_model.pb
src/cnn_denoising/models/variables/variables.data-00000-of-00001
src/cnn_denoising/models/variables/variables.index
src/cnn_denoising/models/assets/
src/cnn_denoising/models/variables/

src/crnn_denoising/models/fingerprint.pb
src/crnn_denoising/models/keras_metadata.pb
src/crnn_denoising/models/saved_model.pb
src/crnn_denoising/models/variables/variables.data-00000-of-00001
src/crnn_denoising/models/variables/variables.index
src/crnn_denoising/models/assets/
src/crnn_denoising/models/variables/
src/crnn_denoising/cnn_model.ipynb


# Secret file
.env
speech_older_env/
speech_env/
wandb/
artifacts/
__pycache__/
.vscode/settings.json